html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    touch-action: none;
    user-select: none;
    -webkit-user-select: none;

    background: #e9eef3;
}

#problem {
    position: relative;
    margin-top: clamp(16px, 2vw, 24px);
    margin-bottom: clamp(16px, 2vw, 24px);
    display: flex;   
    padding: 3px;
    width: 90%;
    height: auto;
    box-sizing: border-box;

    border-radius: 20px;
    box-shadow: 4px 4px 8px #a1a7b9, -4px -4px 8px #ffffff;
}

#problemFront {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: clamp(12px, 1.5vw, 18px);

    font-size: clamp(16px, 2vw, 24px);
    font-family: sans-serif;
    border-radius: 17px;
    color: white;
    background: linear-gradient(150deg, #695897, #865271);
}

#GameLayer {
    position: relative;
    margin-bottom: clamp(16px, 2vw, 24px);
    width: 90%;
    height: 100%;

    overflow: hidden;
    border-radius: clamp(8px, 1vw, 12px);
    box-shadow:
        inset 4px 4px 8px #a1a7b9,
        inset -4px -4px 8px #ffffff;
}

.pieces {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(8px, 1vw, 12px);

    cursor: pointer;

    font-size: clamp(16px, 2vw, 24px);
    font-family: sans-serif;
    border-radius: clamp(8px, 1vw, 12px);
    color: black;
    background: #e9eef3;
    box-shadow:
        4px 4px 8px #a1a7b9,
        -4px -4px 8px #ffffff;
}
