html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    background: linear-gradient(135deg, #fff0f6, #eaf9ff);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    touch-action: none;
    user-select: none;
    -webkit-user-select: none;

    background: linear-gradient(135deg, #fff0f6, #eaf9ff);
}

#problem {
    position: relative;
    margin-top: clamp(16px, 2vw, 24px);
    margin-bottom: clamp(16px, 2vw, 24px);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(8px, 1vw, 12px);
    width: 90%;
    height: auto;
    box-sizing: border-box;

    font-size: clamp(16px, 2vw, 24px);
    font-family: sans-serif;
    font-weight: bold;
    border-radius: clamp(8px, 1vw, 12px);
    color: #ffffff;
    background: linear-gradient(135deg, #ff0062, #db0000);
}

#GameLayer {
    position: relative;
    margin-bottom: clamp(16px, 2vw, 24px);
    overflow: hidden;

    width: 90%;
    height: 100%;

    border: 2px solid #cf0061;
    border-radius: clamp(8px, 1vw, 12px);;
}

.pieces {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(8px, 1vw, 12px);

    cursor: pointer;

    font-size: clamp(16px, 2vw, 24px);
    font-family: sans-serif;
    font-weight: bold;
    border-radius: clamp(8px, 1vw, 12px);
    border: 2px solid #3d71ff;
    color: black;
    background: #bdcfff;
}
